body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1 {
  margin-top: 80px;
  text-align: center;
}

h2 {
   margin: 0px;
}

div {
  background-color: #111;
  color: white;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
}

p {
  color: #b2b2b2;
}

span {
  color: #febe01;
}

a {
  background: #febe01;
  color: #332100;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
}
