body {
  font-family: arial;
  background-color: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

p {
   font-size: 20px;
   line-height: 1.3;
}

.menu > a {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

img {
  max-width: 100%;
  display: block;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background-color: white;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.detalhe {
   width: 60px;
   height: 4px;
   background-color: #ee2211;
   position: absolute;
   top: 30px;
   right: -30px;
}

.botao {
  padding: 15px 30px;
  background-color: #ee2211;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 4px;
}

.subtitulo {
   font-size: 64px;
   text-transform: uppercase;
   color: rgb(0, 0, 0, 0.2);
   text-align: right;
   align-self: center;
   padding: 40px;
}

.vantagens {
   background-color: white;
   padding: 30px;
}

.vantagens-item {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 10px 20px;
   padding: 20px;
}

.vantagens-item > p {
   grid-column: 2;
}

.rodape{
   padding: 40px;
   background-color: white;
   width: 100%;
   text-align: center;
   box-sizing: border-box;
}
