body {
   font-family: arial; 
}

h1 {
   text-align: center;
}

h2 {
   margin-top: 0px;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
}

.comprar {
   background-color: #a8f;
   padding: 10px 20px;
   border-radius: 5px;
   color: #103;
   text-decoration: none;
}

.item {
   background-color: #f7f7f7;
   border: 1px solid #e7e7e7;
   padding: 20px;
   border-radius: 4px;
   display: grid;
}