body {
   margin: 0 auto;
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
   "header header header header"
   ".      main   main   .     "
   "footer footer footer footer"
   ;
}

header {
   background-color: rgb(48, 79, 80);
   grid-area: header;
}

main {
   background-color: blueviolet;
   grid-area: main;
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;
}

footer {
   background-color: chartreuse;
   grid-area: footer;
}


