:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #fff;
  --texto: #000;
}



@media (prefers-color-scheme: dark) {
   :root {
   --fundo-1: #111;
   --fundo-2: #000;
   --texto: #fff;
   }
}

body {
  background-color: var(--fundo-1);
  font-family: Arial;
  margin: 0 auto;
  color: var(--texto);
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

header {
  margin-top: 60px;
}

.logo {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

a {
  text-decoration: none;
  display: block;
  background-color: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 4px;
  color: var(--texto);
  text-transform: uppercase;
  border: 2px solid transparent;
}

a:hover {
  border: 2px solid var(--cor-primaria);
  transition: 0.2s ease-in-out;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.conteudo {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  align-items: end;
  text-align: right;
  background-color: var(--fundo-2);
  position: relative;
}

.conteudo::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 30px;
  right: -30px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.botao {
  background-color: var(--cor-primaria);
  color: #fff;
}

.botao:hover {
  background-color: var(--cor-primaria-escura);
  border: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

img {
  max-width: 100%;
}

.img-cover img {
  object-fit: cover;
  height: 100%;
}

.secao1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secao2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

.subtitulo {
  background-image: url(../05-css-propriedades/05-css-propriedades/0506-refatorar-exercicio/web-inicio/img/onda.svg);
  color: #c6c6c6;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 40px;
}

.vantagens {
  background-color: var(--fundo-2);
  padding: 40px;
}

.vantagem-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border: 4px solid transparent;
}

.vantagem-item p {
  grid-column: 2;
}

.vantagem-item:nth-child(odd) {
  background-color: var(--fundo-1);
}

.vantagem-item:hover {
  border-left: 4px solid var(--cor-primaria);
}

footer {
  text-align: center;
  background-color: var(--fundo-2);
  box-sizing: border-box;
  padding: 40px;
  margin-top: 60px;
}

@media (max-width: 940px) {
  .secao2 {
    grid-template-columns: 1fr;
  }

  .secao2 h2 {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .secao1 {
    grid-template-columns: 1fr;
  }

  .conteudo {
    text-align: left;
    align-items: start;
  }

  .conteudo::before {
    display: none;
  }

  .secao2 h2 {
    font-size: 3rem;
  }
}
