body{
   font-family: Arial, Helvetica, sans-serif;
}
ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   gap: 20px;
}

a{
   text-decoration: none;
   padding: 10px 20px;
   background-color: rgb(89, 199, 199);
   display: block;
   color: #ffff;
   text-transform: uppercase;
   font-weight: bold;
   border-radius: 5px;
}