header {
   background-color: #f7f6f6e0;
}

.header {
   max-width: 1200px;
   padding: 30px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header img {
   width: 220px;
}

.header-menu {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
}

.header-menu a {
   font-size: 1.5rem;
   font-weight: bold;
   text-decoration: none;
   line-height: 1.3;
   padding: 10px 0px;
   margin: 0px 20px;
   color: #162042;
   position: relative;
}

.header-menu a::after {
   content: "";
   height: 3px;
   width: 0;
   background-color: #162042;
   bottom: 0;
   left: 0;
   position: absolute;
   transition: 0.5s ease-in-out;
}

.header-menu a:hover::after {
   width: 100%;
}


@media (max-width: 700px) {
   .header {
      flex-direction: column;
      gap: 40px;
      padding: 20px;
   }
   
}